<nav class="nav flex-column">
    <NavLink href="/events" class="nav-link">Event List</NavLink>
    <NavLink href="/event/Tech Summit 2025" class="nav-link">Event Details</NavLink>
    <NavLink href="/register" class="nav-link">Register</NavLink>
</nav>